@if (profile) {
  <div class="profile-card">
    <div class="profile-card__avatar">
      <img
      [src]="profile.avatarUrl | imgUrl"
      [alt]="profile.lastName"
      class="profile-card__image"
      />
      <div class="profile-card__avatar-holder">
        <strong class="profile-card__name h6">{{ profile.firstName }} {{ profile.lastName }} </strong>
        <span class="profile-card__nickname subtitle">{{ profile.username }}</span>
      </div>
    </div>

    <div class="profile-card__description">
      <p>{{ profile.description }}</p>
    </div>

    <ul class="skill-tags">
      @for (skill of profile.stack; track skill) {
        <li class="skill-tag">{{ skill }}</li>
      }
    </ul>

    <button class="btn">Subscribe</button>
  </div>
}
