<div class="profile-card">
  <div class="profile-card__avatar">
      <img class="profile-card__image" src="/assets/images/gosling.jpg"/>
      <div class="profile-card__avatar-holder">
        <strong class="profile-card__name h6">Ryan Gosling</strong>
        <span class="profile-card__nickname subtitle">ryan.gosling</span>
      </div>
  </div>

  <div class="profile-card__description">
    <p>Список навыков, который мы обсудили выше, — основа резюме, но не единственная его часть. Также можно рассказать о себе в классическом смысле — этот раздел можно добавить в сопроводительное письмо.</p>
  </div>

  <ul class="skill-tags">
    <li class="skill-tag">Angular</li>
    <li class="skill-tag">HTML</li>
  </ul>

  <button class="btn">Subscribe</button>
</div>
