<div class="login-holder">
  <h1 class="h1 mb60">Login</h1>
  <form action="#" class="login-form">
    <label class="form-label mb16">
      User Name
      <input type="text" class="form-input" value="" placeholder="Enter login" />
    </label>
    <label class="form-label mb32">
      Password
      <input type="password" class="form-input" value="" placeholder="Enter password" />
    </label>
    <button type="submit" class="btn">Login</button>
  </form>
</div>
<img src="/assets/svg/logo.svg" alt="Tik Tak Tok">
